.btn {
    /* display: inline-block; */
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  
  .btn-danger {
    color: #fff;
    background-color: #ecb372;
    border: none;
  }
  
  .btn-danger:hover {
    color: #fff;
    /* background-color: #ffbd06; */
    opacity: 1 !important;
    transform: scale(1.1,1.1);

  }
  
  .btn:focus {
    outline: none;
  }
  
  .todo-container {
    width: 600px;
    margin: 0 auto;
  }
  .todo-container .todo-wrap {
    margin-top: 100px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    /* background-color:rgb(250, 232, 235); */
    color: rgb(8, 8, 8);
  }
  body{
    background-color: rgb(253, 210, 217);
    background-size: 100% 200%;
    
  }